<div class="change-language">

	<app-toolbar>
		<button class="back" (click)="onBackClick()" slot="start">
			<app-icon icon="arrow_back"></app-icon>
		</button>
	</app-toolbar>

	@if(!showResults){
	<div class="language-filter">
		<h1 class="main-heading" [innerHTML]="'Discover more endangered languages' | translate:'discoverMoreEndangeredLanguages'"></h1>
		<h2 class="sub-heading" [innerHTML]="'Select a region' | translate:'selectARegion'"></h2>
		<ul class="continent-list">
			<ng-container *ngFor="let region of allRegions; let i = index">
				<li [ngClass]="{'primary': i % 2 === 0, 'primary-light': i % 2 !== 0}" (click)="onSearchLanguage({region: region.code, language: null})">
					{{ region.name }}
				</li>
			</ng-container>
			<li [ngClass]="{'primary': allRegions.length % 2 === 0, 'primary-light': allRegions.length % 2 !== 0}" (click)="onSearchLanguage({region: 'all', language: null})" [innerHTML]="'View all' | translate:'viewAll'"></li>
		</ul>
	</div>
	} @if(showResults){
	<div class="language-filter">
		<h1 class="main-heading" [innerHTML]="'Discover more endangered languages' | translate:'discoverMoreEndangeredLanguages'"></h1>
		<div class="region-indicator">
			<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2.5 14.375V17.5H5.625L14.8417 8.28334L11.7167 5.15834L2.5 14.375ZM17.2583 5.86667C17.5833 5.54167 17.5833 5.01667 17.2583 4.69167L15.3083 2.74167C14.9833 2.41667 14.4583 2.41667 14.1333 2.74167L12.6083 4.26667L15.7333 7.39167L17.2583 5.86667Z" fill="#452B00"/>
			</svg>
			<span [innerHTML]="'Region' | translate:'region'">: {{selectedRegion}}</span>
		</div>
		<ul class="language-list">
			<ng-container *ngFor="let lang of endangeredLanguages; let i = index">
				<li [ngClass]="{'primary': i % 2 === 0, 'primary-light': i % 2 !== 0}" (click)="onEndangeredLanguageChanged(i)">
					<div class="language-content">
						<div class="language-name">{{ lang.name }}</div>
						<div class="language-description">{{ 'Description' | translate:lang.code }}</div>
					</div>
				</li>
			</ng-container>
		</ul>
	</div>
	}
</div>
