<div class="change-language" [dir]="getLanguageDirection()">
	<div class="language-filter">
		<div class="header-section">
			<div class="header-content">
				<h1 class="main-heading" [innerHTML]="'Choose Language' | translate:'chooseLanguage'"></h1>
				<button class="close-button" (click)="bottomSheetRef.dismiss()">
					<app-icon icon="expand_more"></app-icon>
				</button>
			</div>
			<h2 class="sub-heading" [innerHTML]="'Filter by region' | translate:'filterByRegion'"></h2>

			<div class="region-pills">
				<button
					*ngFor="let region of allRegions"
					class="region-pill"
					[class.active]="selectedRegion === region.name"
					(click)="onSearchLanguage({region: region.code, language: null})">
					{{ region.name }}
				</button>
				<button
					class="region-pill"
					[class.active]="selectedRegion === 'All Regions'"
					(click)="onSearchLanguage({region: 'all', language: null})"
					[innerHTML]="'View all' | translate:'viewAll'">
				</button>
			</div>
		</div>

		<div class="languages-list" *ngIf="showResults">
			<ul class="language-grid">
				<li *ngFor="let lang of endangeredLanguages">
					<div class="language-card"
						[class.selected]="lang.code === selectedLanguageCode"
						(click)="onEndangeredLanguageChanged(endangeredLanguages.indexOf(lang))">
						<h3 class="language-name">{{ lang.name }}</h3>
						<p class="language-description" [innerHTML]="'Description'|translate:lang.code"></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
