@use "@angular/material" as mat;
@use "sass:map";
@import "./theme-config.scss";
$theme-colors: (#ec5547, #61b85d, #54b883, #f59a41, #eb6c39);
$_inverted-pallet: (
	100: #000000,
	500: #323232,
	700: #1a1919,
	contrast: (
		200: #a9a9a9,
		300: #b9b9b9,
		500: #ffffff,
	),
);
$app-warn: mat.define-palette(mat.$red-palette);
$app-inverted: mat.define-palette($_inverted-pallet);
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warn);
$_foreground: map.merge(
	map.get($app-theme, "foreground"),
	(
		"text": #303438,
	)
);
$app-theme: map.merge(
	$app-theme,
	(
		"foreground": $_foreground,
	)
);
$_background: map.merge(
	map.get($app-theme, "background"),
	(
		"app-bar": #ffffff,
	)
);
$app-theme: map.merge(
	$app-theme,
	(
		"background": $_background,
	)
);
$app-theme: map.merge(
	$app-theme,
	(
		"shadow": (
			100: rgba(0, 0, 0, 0.2),
			500: rgba(0, 0, 0, 0.4),
		),
	)
);
$app-primary: mat.define-palette(mat.$orange-palette, 500);
$custom-orange: (
	50: lighten(#FFB956, 30%),
	100: lighten(#FFB956, 25%),
	200: lighten(#FFB956, 20%),
	300: lighten(#FFB956, 15%),
	400: lighten(#FFB956, 7%),
	500: #FFB956,
	600: darken(#FFB956, 7%),
	700: darken(#FFB956, 15%),
	800: darken(#FFB956, 20%),
	900: darken(#FFB956, 25%),
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
	)
);
$app-primary: mat.define-palette($custom-orange);
