<p class="mat-body-1" [innerHTML]="'You can use a photo from your phone or take a photo of something around you' | translate:'photoSource'"></p>
<div class="actions">

	<input type="file" #fileUpload id="fileInput" accept="image/*" style="display: none;" (change)="onImageUploaded($event)">

  <button mat-button color="primary" class="load-photo" (click)="fileUpload.click()">
    <span [innerHTML]="'Pick Photo' | translate:'pickPhoto'"></span>
  </button>

  <button *ngIf="cameraIsAvailable" mat-flat-button color="primary" (click)="onCaptureClick()" class="capture">
    <span [innerHTML]="'Take Photo' | translate:'takePhoto'"></span>
  </button>

   <input type="file" #fileInput id="fileInput" accept="image/*" style="display: none;" (change)="onImageUploaded($event)" capture="environment">

  <button *ngIf="!cameraIsAvailable" mat-flat-button color="primary" class="capture" (click)="fileInput.click()">
    <span [innerHTML]="'Take Photo' | translate:'takePhoto'"></span>
  </button>
</div>
