<div class="language" [class.bottom-sheet]="isBottomSheet" [class.full-page]="!isBottomSheet">
	<app-toolbar *ngIf="!isBottomSheet">
		@if (i18nService.currentLanguage.direction === 'ltr') {
			<button class="back" (click)="onBackClick($event)" slot="start">
				<app-icon icon="arrow_back"></app-icon>
			</button>
		} @else {
			<button class="back" (click)="onBackClick($event)" slot="end">
				<app-icon icon="arrow_back"></app-icon>
			</button>
		}
	</app-toolbar>

	<div class="language-header">
		<h1 class="language-title">{{ language.name }}</h1>
		<div class="region-name">
			<span class="label" [innerHTML]="'Region'|translate:'region'"></span>: {{ getRegionName() }}
		</div>

		<a *ngIf="language.organizationURL"
		   (click)="onExploreLanguageClick(language.organizationURL)"
		   rel="noopener noreferrer"
		   class="external-link">
			<app-icon icon="partner_link"></app-icon>
			<span>{{language.organizationName}}</span>
		</a>

		<div class="language-description">
			{{ getLanguageDescription() }}
		</div>

		<h3 class="example-heading" [innerHTML]="'Example'|translate:'example'"></h3>
		<div class="sample-word-container">
			<div class="sample-word-content">
				<div class="sample-image-wrapper">
					<img [src]="languageImage" [alt]="'Tree' | translate:'tree':{}" class="sample-image" />
				</div>
				<div class="translation-content">
					<span class="original" [innerHTML]="'Tree' | translate:'tree':{}"></span>
					<span class="translation" [innerHTML]="language.sampleWordTranslation"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="same-region-section" *ngIf="!isBottomSheet">
		<h3 class="section-heading" [innerHTML]="'In the same region'|translate:'same_region'"></h3>
		<ul class="same-region-list">
			<li *ngFor="let lang of getSameRegionLanguages()">
				<div class="region-language-item" (click)="onLanguageClick(lang.code)">
					<h4 class="language-name">{{ lang.name }}</h4>
					<p class="language-description" [innerHTML]="'Description'|translate:lang.code"></p>
				</div>
			</li>
		</ul>
	</div>
</div>
