<app-toolbar>
	<button class="back" (click)="navigateToCapture($event)" slot="start">
		<app-icon icon="arrow_back"></app-icon>
	</button>
</app-toolbar>

<div class="language" *ngIf="language">
	<div class="language-header">
		<h1 class="language-title">{{ language ? language.name : '' }}</h1>
		<div class="region-name">
			<span class="label" [innerHTML]="'Region'|translate:'region'">
			</span>: {{ getRegionName(language.region) }}
		</div>

		<a *ngIf="language.organizationURL" (click)="onExploreLanguageClick(language.organizationURL)" class="external-link">
			<app-icon icon="partner_link"></app-icon>
			<span>{{language.organizationName}}</span>
		</a>

		<div class="language-description" [innerHTML]="'Language description'|translate:'description_' + (language ? language.code : '')"></div>

		<h3 class="example-heading">Example</h3>
		<div class="sample-word-container">
			<div class="sample-word-content">
				<div class="sample-image-wrapper">
					<img [src]="languageImage" [alt]="'Tree' | translate:'tree':{}" class="sample-image" />
				</div>
				<div class="translation-content">
					<span class="original" [innerHTML]="'Tree' | translate:'tree':{}"></span>
					<span class="translation" [innerHTML]="language ? language.sampleWordTranslation : ''"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="same-region-section">
		<h3 class="section-heading">In the same region</h3>
		<div class="horizontal-scroll-container">
			<ul class="same-region-list">
				<li *ngFor="let lang of getSameRegionLanguages()" class="region-language-item" (click)="onLanguageClick(lang.code)">
					<h4 class="language-name">{{ lang.name }}</h4>
					<p class="language-description" [innerHTML]="'Language description'|translate:'description_' + lang.code"></p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="other-languages">
	<h2 [innerHTML]="'Other languages'|translate:'otherLanguages'"></h2>
	<app-scroll-list
		[currentItem]="otherLanguages && otherLanguages.length ? 0 : 0"
		[snappingEnabled]="false"
		itemAlignment="start"
	>
		<ng-container *ngFor="let lang of otherLanguages">
			<div
				class="language"
				*appScrollListItem
				(click)="onLanguageClick(lang.code)"
				(keydown)="null"
			>
				<div class="example">
					<img
						[src]="prefixImageUrl(lang.sampleWordImageURL)"
						[alt]="'Tree' | translate:'tree':{}"
					/>
					<span
						class="translation"
						[innerHTML]="lang.sampleWordTranslation"
					></span>
					<span
						class="original"
						[innerHTML]="'Tree' | translate:'tree':{}"
					></span>
				</div>
				<div class="name">{{ lang.name }}</div>
			</div>
		</ng-container>
	</app-scroll-list>
</div>
