<mat-sidenav-container>
  <mat-sidenav (openedStart)="onSidenavOpenStart()" (closed)="onSidenavClosed()" mode="over" [opened]="sidenavOpen">
    <app-sidenav (menuClosed)="onSidenavClosed()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar>
        <button (click)="onOpenMenuClick()" class="open-menu" aria-label="Open Menu" slot="start" style="position: absolute; left: 8px;">
            <app-icon icon="menu"></app-icon>
        </button>
    </app-toolbar>
	 <app-image-display [imageUrl]="backgroundImageURL" [altText]="'Captured image'">
	 </app-image-display>

	 @if (translations && translations.length > 0) {
    <div class="translation-container" [class.loading]="isLoadingTranslations">
        <app-translation-selector
            [translations]="translations"
            [defaultSelectedWordIndex]="defaultSelectedWordIndex"
            [currentLanguage]="currentLanguage"
            (addRecording)="onAddRecording($event)"
            (addTranslation)="onAddTranslation($event)"
            (wordShared)="onWordShared($event)"
            (selectedWordChanged)="onSelectedWordChanged($event)"
            (manualEntrySelected)="onManualEntrySelected()">
        </app-translation-selector>
        <div class="loading-overlay" *ngIf="isLoadingTranslations">
            <mat-spinner diameter="40"></mat-spinner>
            <span [innerHTML]="'Loading translations...' | translate:'loadingTranslations'"></span>
        </div>
    </div>
    <div class="language-controls">
        <button class="language-button" (click)="onSwitchLanguageClick()">
            <span [innerHTML]="'Change language'|translate:'switchLanguage'"></span>
        </button>
        <button class="language-button" (click)="onViewLanguageClick()">
           <span [innerHTML]="'About' | translate:'about'"></span>{{currentLanguage}}
        </button>
    </div>
} @else {
    <div class="no-translations">
        <div class="no-translations-content">
            <span>Sorry, we can't translate anything in this photo</span>
            <button class="upload-button" (click)="navigateToCapture()">
                Upload a photo of something else
            </button>
        </div>
    </div>
}
  </mat-sidenav-content>
</mat-sidenav-container>
