@use 'sass:map';

@import '../../style/components';
@import '../../style/palette';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1F1B16 !important;
  color: white !important;
  box-shadow: none !important;

  app-logo {
    height: 16px;
    width: 120px;
  }

  ::ng-deep {
    [slot="start"],
    [slot="end"] {
      @include icon-button;
      position: absolute;
      top: 7px;
      width: 36px;
      height: 36px;

      app-icon {
        width: 24px;
        height: 24px;
        color: #EAE1D9;
      }

      .mat-icon {
        color: #EAE1D9;
      }
    }

    [slot="start"] {
      left: 8px;
    }

    [slot="end"] {
      right: 8px;
    }
  }
}
