<div [formGroup]="formGroup" style="color: white;">
  <div style="display: flex; flex-direction: column;">

    <div style="display: flex; flex-direction: column;" *ngIf="!suggested">

      <mat-form-field class="text custom-field" appearance="outline" style="--mat-form-field-label-color: white; --mat-form-field-outline-color: white;">
        <input style="color: white !important;" type="text" required matInput class="white-text-input" name="nativeWord" formControlName="nativeWord" maxlength="100" placeholder="Enter current word" />
      </mat-form-field>

      <mat-form-field class="text custom-field" appearance="outline" style="--mat-form-field-label-color: white; --mat-form-field-outline-color: white;">
      <input style="color: white !important;" type="text" required matInput class="white-text-input" name="transliteration" formControlName="transliteration" placeholder="Enter current transliteration" />
      </mat-form-field>

      <mat-form-field class="text custom-field" appearance="outline" [hideRequiredMarker]="true"
        [hintLabel]="'e.g. مرحبا' | translate:'nativeScriptHint'" style="--mat-form-field-label-color: white; --mat-form-field-outline-color: white;">
      <input style="color: white !important;" type="text" matInput class="white-text-input" name="suggestedTranslation" formControlName="suggestedTranslation" maxlength="100" placeholder="Enter suggested word" />
      </mat-form-field>

    </div>

    <div style="display: flex; flex-direction: column;" *ngIf="suggested">
      <mat-form-field class="text custom-field" appearance="outline"
        [hintLabel]="'e.g. مرحبا' | translate:'nativeScriptHint'" style="--mat-form-field-label-color: white; --mat-form-field-outline-color: white;">
      <input style="color: white !important;" type="text" required matInput class="white-text-input" name="suggestedTranslation" formControlName="suggestedTranslation" maxlength="100" placeholder="Enter suggested word" />
      </mat-form-field>
    </div>

    <mat-form-field class="text custom-field" appearance="outline" [hideRequiredMarker]="true"
    [hintLabel]="'Word in Latin alphabet (e.g. \'marhaba\')' | translate:'transliterationHint'" style="--mat-form-field-label-color: white; --mat-form-field-outline-color: white;">
      <input style="color: white !important;" type="text" matInput class="white-text-input" name="suggestedTransliteration" formControlName="suggestedTransliteration" placeholder="Enter suggested transliteration" />
      </mat-form-field>
    <mat-form-field class="text custom-field" appearance="outline"
                    [hintLabel]="'e.g. \'hello\'' | translate:'englishWordHint'" style="--mat-form-field-label-color: white; --mat-form-field-outline-color: white;">
      <input style="color: white !important;" type="text" required matInput class="white-text-input" name="englishWord" formControlName="englishWord" maxlength="100" placeholder="Enter word in English" />
    </mat-form-field>
    <mat-form-field *ngIf="primaryLanguageWordAvailable" class="text custom-field" appearance="outline"
                    [hintLabel]="'e.g. \'hello\'' | translate:'wordInPrimaryLanguageHint'" style="--mat-form-field-label-color: white; --mat-form-field-outline-color: white;">
      <input style="color: white !important;" type="text" required matInput class="white-text-input" name="word" formControlName="word" maxlength="100" placeholder="Enter word in your language" />
    </mat-form-field>
    <div class="special-chars" style="color: rgba(255, 255, 255, 0.8);">
      <span *ngIf="operatingSystem === operatingSystemValues.Android || operatingSystem === operatingSystemValues.iOS"
            [innerHTML]="'Want to type special characters? Try <a href=\'${gboardUrl}\'>GBoard</a> or <a href=\'${keymanUrl}\'>Keyman</a>' | translate:'specialCharsInstructions'"></span>
    </div>
  </div>
</div>
