<app-toolbar>
  <button class="back" (click)="onCloseClick($event)" slot="start">
    <app-icon icon="arrow_back"></app-icon>
  </button>
  <span [innerHTML]="'The Languages' | translate:'theLanguages'"></span>
</app-toolbar>

<div class="content">
  <h1 class="page-title" [innerHTML]="'discoverMoreEndangeredLanguages'|translate:'discoverMoreEndangeredLanguages'"></h1>

  @if (selectedRegion) {
    <div class="region-header">
      <button class="region-button" (click)="onRegionBack()">
        <span [innerHTML]="'Region'|translate:'region'"></span>: {{selectedRegion.name}}
      </button>
    </div>
  }

  <div class="grid-container">
    @if (!selectedRegion) {
      @for (region of regions; track region.code) {
        <button class="grid-item" [class.alt-color]="$even" (click)="onRegionSelect(region)">
          <span [innerHTML]="region.name | translate:region.code"></span>
        </button>
      }
      <button class="grid-item view-all" (click)="onRegionSelect({code: 'all', name: 'View All', languages: allLanguages})">
        <span [innerHTML]="'View All' | translate:'viewAll'"></span>
      </button>
    } @else {
      @for (lang of selectedRegion.languages; track lang.code) {
        <div class="grid-item language-item" [class.alt-color]="$even" (click)="onLanguageClick(lang.code)">
          <div class="info">
            <span class="name">{{ lang.name }}</span>
            <span class="description" [innerHTML]="'Description'|translate:lang.code"></span>
          </div>
        </div>
      }
    }
  </div>
</div>
